.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.card-img {
  padding-top: 70%;
  background-repeat: none;
  background-size: cover;
}